<!DOCTYPE html>
<html xmlns: xmlns:th="http://www.w3.org/1999/xhtml" th="https://thymeleaf.org"
      xmlns: layout="https://www.utraq.net.nz/thymeleaf/layout">
<head>
    <title>AgendaEleicaoApp</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icon" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Eventos:</a>
                <ul id="nav-mobile" class="right hide-on.med-and.down">
                <li><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Eventos</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div th:each="agendaEleicao: ${AgendaEleicao}" class="container detalhesAgendaEleicao">
        <h5>Detalhes do Evento</h5>
        <div class="row">
            <p>Codigo: <span th:text="${agenda.codigo}"></span></p>
            <p>Nome: <span th:text="${agendaEleitoral.nome}"></span></p>
            <p>Partido: <span th:text="${agenda.partido}"></span></p>
            <p>Local: <span th:text="${agendaEleitoral.local}"></span></p>
            <p>Horario: <span th:text="${agendaEleitoral.horario}"></span></p>
        </div>
    </div>

        <th:block th:include="mensagemValidacao"></th:block>

        <div class="container formConvidado">
        <form method="post" th:object="${convidado}">
            Nome: <input type="text" value="" name="nomeConvidado" placeholder="Nome Completo"/>
            Codigo: <input type="text" value="" name="codigo" placeholder=" " class="validate"/>
            Partido: <input type="text" value="" name="partido" placeholder="Partido"/>
            <button class="waves-effect waves-light btn" type="submit">Adicionar</button>
        </form>
    </div>
    <table class="container tabelaConvidado"5>
        <thead>
            <tr>
                <th>Nome do Convidado</th>
                <th>Codigo</th>
                <th>Partido</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="convidado : ${convidados}">
                <td><span th:text="${convidado.nomeConvidado}"></span></td>
                <td><span th:text="${convidado.codigo}"></span></td>
                <td><span th:text="${convidado.partido}"></span></td>
                <td><a class="waves-effect waves-light btn-smal" th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.codigo)).build()}">< i class="material-icons left">delete</a></td>
            </tr>
        </tbody>
    </table>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>