<!DOCTYPE html>
<html xmlns: th="https://thymeleaf.org"
      xmlns: layout="https://www.utraq.net.nz/thymeleaf/layout">
<head>
    <title>AgendaEleicaoApp</title>
</head>
<body>

    <h1>Cadastro de Eventos Eleitorais:</h1>
    <form method="post">
        Codigo: <input type="text" value="" name="código/">
        Nome: <input type="text" value="" nome="nome/">
        Partido: <input type="text" value="" name="partido/">
        Local: <input type="text" value="" name="local/">
        Data: <input type="date" value="" name="data/">
        Horario: <input type="text" value="" name="horário/">

        <button type="submit">Salvar</button>

    </form>

</body>
</html>