<!DOCTYPE html>
<html xmlns: th="https://thymeleaf.org"
      xmlns: layout="https://www.utraq.net.nz/thymeleaf/layout">
<head>
    <title>AgendaEleicaoApp</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icon" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Lista de Eventos de Candidatos</h1>
<h3><a href="/cadastrarEventos" class="waves-effect waves-light btn"><i class="material-icon left">add_circle_outline</i>Cadastar Eventos</a></h3>
<table class="container">
    <thead>
    <tr>
        <th>Codigo</th>
        <th>Nome</th>
        <th>Partido</th>
        <th>Local</th>
        <th>Data</th>
        <th>Horario</th>
    </tr>
    </thead>
    <tbody>
        <tr each="agendaEleicao : ${agendaEleicao}">
            <td><a href="${#mvc.url('EC#detalhesAgendaEleicao').arg(0, agenda.codigo).build()}"><span text="${agenda.nome}"></span></a></a></td>
        <td>span th:text="${agenda.codigo}"></span></td>
        <td>span th:text="${agendaEleitoral.nome}"></span></td>
        <td>span th:text="${agenda.partido}"></span></td>
        <td>span th:text="${agendaEleitoral.local}"></span></td>
        <td>span th:text="${agendaEleitoral.horario}"></span></td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</form>
<footer>
    <p> Feito por Belisnalva Costa</p>
</footer>

</body>
</html>